<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>品牌列表实例</title>
    <script src="../vue.js"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div id="app">
    
    <div class="panel panel-primary">
          <div class="panel-heading">
                <h3 class="panel-title"> 品牌添加 </h3>
          </div>
          <div class="panel-body form-inline  ">
               
                <label>
                    ID:  <input type="text" class="form-control" v-model='id'>
                </label>

                <label>
                    NAME: <input type="text" class="form-control" v-model='name'>
                </label>

                <input type="button" value="ADD" class="btn btn-primary" @click='add'>

                <label>
                   搜索: <input type="text" class="form-control" v-model='keyWord' placeholder="请输入关键字">
                </label>
          </div>
    </div>
        

    <table class="table table-bordered table-hover table-striped ">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                 <th>addTime</th>
                <th>operation</th> 
            </tr>
        </thead>
        <tbody>
            <tr v-for='item in sear(keyWord )' :key='item.id'>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.addTime }}</td>
                <td><a href="" @click.prevent='del(item.id)' >  delete  </a></td>
            </tr>
        </tbody>
    </table>
</div>

    <script>
    
    var vm = new Vue({
        el:'#app',
        data:{
            id:'',
            name:'',
            test:'1',
            keyWord:'',
            list:[
                { id:1, name:'benz', addTime:new Date() },
                { id:2, name:'audi', addTime:new Date() }
                ]
        },
        methods:{
            add(){
                var car = { id: this.id, name: this.name ,addTime:new Date()};
                this.list.push(car);

                // push 之后，清空输入框
                this.name = this.id = '';
                
            }  
        ,
            del(id){ 
                //方法2
                var index = this.list.findIndex(item =>{
                    if(item.id == id){
                        return true;
                    }
                })
                this.list.splice(index,1);
                
                 // 方法 1
                // this.list.some((item,i) => {
                //     if(item.id == id ){
                //         this.list.splice(i,1);
                //         return true ;
                //     }
                // })   
            },
            sear(){
                var newList = [];
                this.list.forEach(item => {
                    if(item.name.indexOf(this.keyWord) != -1){
                        newList.push(item)
                    }                    
                })
                return newList
            }
        }
        
    })
    
    </script>


</body>
</html>